.contteiner2 {
  height: 90%;
  width: 100%;
  }
  
.linea-h22 {
    width: 90%;
    align-items: center;
    border: solid 2px black;
  }

  .lista-tabla2{
    margin-top: 2.5%;
    margin-bottom: 2%;
    width: 85%;
  }
  
  .lista-tabla2{
    width: 80%;
  }

.containerList2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin: 0 3%;
    background-color: rgba(114, 183, 230, 0.295);
    border: solid 2px rgba(176, 196, 222, 0.699);
    height: 100%;
    max-width: 1130px;
 }
  
  
.titulo_list2 {
    color: #eeecee;
 }

.btnsGra {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  height: 30px;
}

.tituloGra{
  color: #eeecee;
}
  
  