.contteiner2 {
  height: 95%;
  width: 100%;
  min-width: 725px;
  }
  
.linea-h22 {
    width: 90%;
    align-items: center;
    border: solid 2px black;
  }

  .lista-tabla2{
    margin-top: 2.5%;
    margin-bottom: 8px;
    width: 85%;
    min-width: 603px;
    max-width: 659px;
    max-height: 290px;
  }
  
  .lista-tabla2{
    width: 80%;
  }

.containerList2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin: 0 3%;
    background-color: rgba(114, 183, 230, 0.295);
    border: solid 2px rgba(176, 196, 222, 0.699);
    height: 100%;
    max-width: 1130px;
 }
  
  
.titulo_list2 {
    color: #eeecee;
    padding-top: 30px;
    min-width: 280px;
 }

.btnsGra {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px 10px 10px 10px;
  height: 50px;
}

.tituloGra{
  color: #eeecee;
  padding-top: 3px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  
}

.graficos{
  height: 14vh;
  width: 95%;
  padding: 3px;
  margin: 10px;
  

  /* background-color:rgba(40, 176, 255, 0.548); */
  /* background: linear-gradient(0deg, rgba(40,176,255,0.5) 32%, rgba(255,255,255,0) 87%); */
  background-color: rgba(114, 183, 230, 0.295);
  border: 1px solid rgb(0, 153, 255);
  border-radius: 10px;
}

.contentGraficos{  
  height: 60%;
  width: 40%;
  min-width: 293px;
  min-height: 264px;
}

.cajaexterior{
  display: flex;
  justify-content: center;
  margin-top: 2%;
  padding:3%;
  height: 90%;
  width: 95%;
  min-height: 440px;
  background-color: rgba(114, 183, 230, 0.295);
  border: 1px solid rgb(0, 153, 255);
  border-radius: 10px;
}
.ventasM{
  
  height: 25vh;
  width: 95%;
}

.titleVentasMes{
  color: white;
}
.titleVentasAnio{
  color: white;
  margin-bottom: 30%;

}

.flex-cajaext{
  display: flex;
  flex-direction: column;  
  justify-content: flex-start;
  align-items: center;
}

