.containerPrin {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  max-width: 680px;
  min-width: 460px;
  min-height: 470px;
  background-color: rgba(114, 183, 230, 0.295);
  border: solid 2px rgba(176, 196, 222, 0.699);
  border-radius: 23px;
  padding: 2%;
}

.contenido_prin{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  max-width: 700px;
  min-width: 460px;
  min-height: 470px;
  padding: 2%;
}  

.contteiner {
  height: 90%;
  width: 100%;
}

.containerList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  margin: 0 3%;
  background-color: rgba(114, 183, 230, 0.295);
  border: solid 2px rgba(176, 196, 222, 0.699);
  height: 100%;
}

.miForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
} 

.titulo {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #eeecee;
}

.titulo_list {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #eeecee;
  min-width: 383px;
} 

.content_one {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
}

.select01 {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.select02 {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.txt01 {
  display: flex;
  flex-direction: column;
  width: 28%;
  min-width: 158px;
}

.txt02 {
  display: flex;
  flex-direction: column;
  width: 28%;
  min-width: 158px;
}


.btn_save {
  display: flex;
  align-items: center;
}

.content_two {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 3%;
  width: 90%;
}

.content_three {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 3%;
  width: 90%;
}


.line {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5px;
  width: 100%;
}

.lineTop {
  left: 13%;
  border: 2px solid #000000;
  width: 90%;
}

.table {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 2%;
  width: 90%;
  height: 45%;
  max-height: 204px;
}

.content-table{
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 120%;
  margin-top: 8%;
  min-width: 393px;
  max-height: 225%;
}


.lista-tabla{
  margin-top: 2.5%;
  margin-bottom: 2%;
  width: 85%;
}

.lista-tabla{
  width: 80%;
}

.linea-h2{
  width: 90%;
  align-items: center;
  border: solid 2px black;
}

.titleEdi{
  display: flex;
  width: 300px;
  height: 47px;
}

.formulario {
  display: flex;
  flex-direction: column;
  width: 280px;
  min-width: 167px;
  margin-left: 10px;
}

.btnesEditar{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 46px;
  width: 200px;
}

.titleEdi {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #eeecee;
}

.inputsMod {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3%;
  margin-left: 12px;
}

.modPr {
  padding: 5%;
}

.select01 {
  width: 150px;
}

.select02 {
  width: 192px;
}

.final_form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 400px;
  margin-left: 2px;
}






